################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/cape_audit.zip
/cape_audit.egg-info
/build/lib/cape_audit
